body {
    /*background: #fffce6;*/
    font-size: 16px;
}

.b-outer-window {
    border-radius: 10px;
    margin: 50px 0;
    background: white;
    box-shadow: 0 0 5px #999;
    padding: 20px;
}

.b-spisok-otstup {
    margin-left: 50px;
}

.b-vertical-line {
    border-right: 1px solid #eee;
    height: 100%;
}

.b-list {
    background: white;
   /* border: 1px solid black;*/
    padding: 50px;
    position: relative;
}
.b-list-text {
    background: white;
    /* border: 1px solid black;*/
    padding-left: 50px;
    padding-right: 50px;

    position: relative;
}
.b-list-image {
    background: white;
    /* border: 1px solid black;*/
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    position: relative;
}
body main .container .b-list table tr, td, th {
    border-color: #d9534f !important;
}
body main .container .b-list table thead .b-text-white {
    color: white;
    vertical-align: middle !important;
}

.b-label {
    width: 100%;
    color: white;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

.b-huge-label {
    height: 100px;
    padding: 20px;
    font-size: 40px;
}

.b-manager {
    float: right;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.b-margin-text-top {
    margin-top: 30px;
}

.b-margin-text-bottom {
    margin-bottom: 80px;
}

.b-margin-text-bottom2 {
    margin-bottom: 40px;
}

.b-margin-text-bottom3 {
    margin-bottom: 20px;
}

.b-margin-text-bottom-power {
    margin-bottom: 500px;
}

.b-text-small {
    font-size: 14px;
}

.b-grafik {
    width: 100%;
    height:400px;
}

.b-logo {
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.b-underlogo {
    width: 100%;
    float: left;
    font-size: 20px;
}

.b-logo-block {
    width: 320px;
    font-weight: bold;
}

.b-large-font {
    font-size: 20px;
}

.b-h2 {
    font-size: 30px;
}

.b-list_4 {
    background-repeat: no-repeat;
    background-position: right bottom;
    text-align: right;
}