/*
normalize
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    line-height: 1.42857;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* моё
   ======================================================================================================================================================================================================================================================================================================== */

.b-label-danger {
    background: #d9534f;
    color: white;
}

.b-text-center {
    text-align: center;
}

.b-text-left {
    text-align: left;
}

.b-text-right {
    text-align: right;
}

.b-table {
    width: 100%;

}

.b-list table tr, td, th {
    border: 1px solid #d9534f;
    padding: 8px;
}
.b-list table thead .b-text-white {
    color: white;
    vertical-align: middle;
}

/* / моё
   ======================================================================================================================================================================================================================================================================================================== */

/*
    перенесенные стили
    */

.b-outer-window {
    border-radius: 10px;
    margin: 50px 0;
    background: white;
    box-shadow: 0 0 5px #999;
    padding: 20px;
}

.b-spisok-otstup {
    margin-left: 50px;
}

.b-vertical-line {
    border-right: 1px solid #eee;
    height: 100%;
}

.b-list {
    background: white;
    border: 1px solid black;
    padding: 50px;
    position: relative;
}

.b-label {
    width: 100%;
    color: white;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

.b-huge-label {
    height: 58px;
    padding: 20px;
    font-size: 40px;

}

.b-manager {
    float: right;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.b-margin-text-top {
    margin-top: 80px;
}

.b-margin-text-bottom {
    margin-bottom: 80px;
}

.b-margin-text-bottom2 {
    margin-bottom: 40px;
}

.b-margin-text-bottom3 {
    margin-bottom: 20px;
}

.b-margin-text-bottom-power {
    margin-bottom: 500px;
}

.b-text-small {
    font-size: 14px;
}

.b-grafik {
    width: 100%;
    height:400px;
}

.b-logo {
    margin-top: -10px;
    margin-left: 10px;
}

.b-underlogo {
    width: 100%;
    float: left;
    font-size: 20px;
}

.b-logo-block {
    width: 320px;
    font-weight: bold;
}

.b-large-font {
    font-size: 20px;
}

.b-h2 {
    font-size: 30px;
}

.b-list_4 {
    /*background-image: url(../images/css/page4.png);*/
    background-repeat: no-repeat;
    background-position: right bottom;
}





/*
 * стили общего назначения
 */

.g-text-bold {
    font-weight: bold;
}

.g-text-color-white {
    color: white;
}

.g-text-italic {
    font-style: italic;
}

.g-text-underline {
    text-decoration: underline;
}

.g-text-underline-none {
    text-decoration: none;
}

.g-margin-top-none {
    margin-top: 0;
}

.g-font-size-12 {
    font-size: 12px;
}

.g-font-size-13 {
    font-size: 13px;
}

.g-font-size-14 {
    font-size: 14px;
}

.g-font-size-15 {
    font-size: 15px;
}

.g-font-size-16 {
    font-size: 16px;
}

.g-font-size-26px {
    font-size: 26px;
}

.g-font-size-10 {
    font-size: 10px;
}

.g-inline-block {
    display: inline-block;
}

.g-block {
    display: block;
}

.g-vertical-align-middle {
    vertical-align: middle;
}

.g-margin-3 {
    margin: 3px;
}

.g-margin-3-left {
    margin-left: 3px;
}

.g-margin-3-right {
    margin-right: 3px;
}

.g-margin-3-top {
    margin-top: 3px;
}

.g-margin-3-bottom {
    margin-bottom: 3px;
}

.g-margin-5 {
    margin: 5px;
}

.g-margin-5-left {
    margin-left: 5px;
}

.g-margin-5-right {
    margin-right: 5px;
}

.g-margin-5-top {
    margin-top: 5px;
}

.g-margin-5-bottom {
    margin-bottom: 5px;
}

.g-margin-8 {
    margin: 8px;
}

.g-margin-8-left {
    margin-left: 8px;
}

.g-margin-8-right {
    margin-right: 8px;
}

.g-margin-8-top {
    margin-top: 8px;
}

.g-margin-8-bottom {
    margin-bottom: 8px;
}

.g-margin-10 {
    margin: 10px;
}

.g-margin-10-left {
    margin-left: 10px;
}

.g-margin-10-right {
    margin-right: 10px;
}

.g-margin-10-top {
    margin-top: 10px;
}

.g-margin-10-bottom {
    margin-bottom: 10px;
}

.g-margin-15 {
    margin: 15px;
}

.g-margin-15-left {
    margin-left: 15px;
}

.g-margin-15-right {
    margin-right: 15px;
}

.g-margin-15-top {
    margin-top: 15px;
}

.g-margin-15-bottom {
    margin-bottom: 15px;
}

.g-margin-20 {
    margin: 20px;
}

.g-margin-20-left {
    margin-left: 20px;
}

.g-margin-20-right {
    margin-right: 20px;
}

.g-margin-20-top {
    margin-top: 20px;
}

.g-margin-20-bottom {
    margin-bottom: 20px;
}

.g-margin-25 {
    margin: 25px;
}

.g-margin-25-left {
    margin-left: 25px;
}

.g-margin-25-right {
    margin-right: 25px;
}

.g-margin-25-top {
    margin-top: 25px;
}

.g-margin-25-bottom {
    margin-bottom: 25px;
}

.g-margin-30 {
    margin: 30px;
}

.g-margin-30-left {
    margin-left: 30px;
}

.g-margin-30-right {
    margin-right: 30px;
}

.g-margin-30-top {
    margin-top: 30px;
}

.g-margin-30-bottom {
    margin-bottom: 30px;
}

.g-padding-3 {
    padding: 3px;
}

.g-padding-3-left {
    padding-left: 3px;
}

.g-padding-3-right {
    padding-right: 3px;
}

.g-padding-3-top {
    padding-top: 3px;
}

.g-padding-3-bottom {
    padding-bottom: 3px;
}

.g-padding-5 {
    padding: 5px;
}

.g-padding-5-left {
    padding-left: 5px;
}

.g-padding-5-right {
    padding-right: 5px;
}

.g-padding-5-top {
    padding-top: 5px;
}

.g-padding-5-bottom {
    padding-bottom: 5px;
}

.g-padding-8 {
    padding: 8px;
}

.g-padding-8-left {
    padding-left: 8px;
}

.g-padding-8-right {
    padding-right: 8px;
}

.g-padding-8-top {
    padding-top: 8px;
}

.g-padding-8-bottom {
    padding-bottom: 8px;
}

.g-padding-10 {
    padding: 10px;
}

.g-padding-10-left {
    padding-left: 10px;
}

.g-padding-10-right {
    padding-right: 10px;
}

.g-padding-10-top {
    padding-top: 10px;
}

.g-padding-10-bottom {
    padding-bottom: 10px;
}

.g-padding-15 {
    padding: 15px;
}

.g-padding-15-left {
    padding-left: 15px;
}

.g-padding-15-right {
    padding-right: 15px;
}

.g-padding-15-top {
    padding-top: 15px;
}

.g-padding-15-bottom {
    padding-bottom: 15px;
}

.g-padding-20 {
    padding: 20px;
}

.g-padding-20-left {
    padding-left: 20px;
}

.g-padding-20-right {
    padding-right: 20px;
}

.g-padding-20-top {
    padding-top: 20px;
}

.g-padding-20-bottom {
    padding-bottom: 20px;
}

.g-padding-25 {
    padding: 25px;
}

.g-padding-25-left {
    padding-left: 25px;
}

.g-padding-25-right {
    padding-right: 25px;
}

.g-padding-25-top {
    padding-top: 25px;
}

.g-padding-25-bottom {
    padding-bottom: 25px;
}

.g-float-left {
    float: left;
}

.g-float-right {
    float: right;
}
